@import "tailwindcss";

.table-head {
  @apply px-5 py-3 text-[10px] font-semibold text-slate-500 uppercase tracking-wide whitespace-nowrap;
}

.table-col {
  @apply px-5 py-3 text-xs text-slate-700 whitespace-nowrap;
}

.btn-red {
  @apply flex items-center gap-1.5 px-2.5 py-1 text-[11px] text-red-600 
  border border-red-200 bg-white rounded-md hover:bg-red-50 shadow-sm;
}

.btn-gray {
  @apply flex items-center gap-1.5 px-2.5 py-1 text-[11px] 
  text-slate-600 border border-slate-200 bg-white rounded-md 
  hover:bg-slate-50 shadow-sm;
}

.btn-page {
  @apply px-3 py-1 text-xs border rounded disabled:opacity-50;
}



/* ------------------- 
    image preview
----------------------------*/

@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}
